body {
    background-color: rgba(240, 244, 247, 255);
    overflow: hidden; 
    /* display: flex; */
}

.centered-div {
    height: 98vh;
    background-color: rgba(240, 244, 247, 255);
    display: flex;
    flex-direction: column;
    
}
.admin-facing-text {
    text-align: left;
    margin:0px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: #9eadba;
}

.hello-admin-text{
    font-family: sans-serif;
    font-weight: bold;
    color: #293845;
}
.inner-div {
    display: flex;
    align-items: center;
    /* position: relative;
    position: absolute; */
}

.inner-div:nth-child(2){
    height: 30px; 
    border-radius: 5px 5px 0px 0px; 
    background-color: #9eadba;
    /* display: flex; */
    /* position: relative; */
}

.circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #8f9eac; 
    border-radius: 50%;
    margin-left: 8px;
    /* position: absolute; */
    
}

.inner-div:nth-child(3){
    /* width: 100%; */
    justify-content: center;
    height: 40px;
    background-color: white ;
}

.main-container{
    display: flex;
    width: 100%;
    height:80%;
    background-color: #dfe6ed ;
    border-radius: 0px 0px 5px 5px; 
    /* height: 82%; */
    height: 91vh;
}

.navbar{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color:  #dfe6ed; 
}

.navbar a {
    width:50%;
    height: 5%;
    text-align: center;
    vertical-align: text-bottom;
    margin-bottom: 15px;
    display: inline-block;
    padding: 8px 16px;
    background-color: white;
    color: #6558f5;
    border: 1px solid #6558f5; 
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-link a.active {
    background-color: #6558f5;
    color: white;
}

.navbar-link:hover {
    background-color: #6558f5;
    color: white;
}

.content-wrapper {
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    overflow-y: auto;
    /* height:80vh; */
    height:85vh;
    background-color: white;
}

.content-above{
    /* flex: 1; */
    display: flex;
    height: 50px;
    background-color: #dfe6ed;
    align-items: center;
    /* justify-content: center; */
}

.content {

    flex: 1;
    padding: 30px;
    padding-right: 15px;
    padding-left: 15px;
    border: 3px solid #c3cfd9; 
    overflow-y: auto;
    /* Enable vertical scroll for the content div */
}

.container {
    display: flex;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #dfe6ed;
    border: 3px solid #9eadba;
    border-radius: 5px;
}

.imagelist{
    /* padding: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.listimage{
    padding-right: 30px;
    width:100px;
    height:100px;
}


.container1{
    display: flex;
    /* align-items: center; */
    /* padding-left: 30px;
    padding-right: 30px; */
    /* justify-content: space-around;  */
}

.left-content {
    display:block;
    margin-top: 20px;
    width: 400px;
    text-align: left;
    /* text-align:center; */
}

/* .left-content a */
.container1-name{
    /* margin-bottom: 20px; */
    /* padding-bottom:10px; */
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    color:#293845;
    /* margin-bottom: 10px; */
}

.conatiner1-link{
    font-family: sans-serif;
    color: #6d61f5;
}
.form-list{
    margin-top: 10px;
}

.right-content {
    margin-top: 40px;
    width: 400px;
    /* width: 20%; */
    align-items:center;
    text-align: right;
}

.content-post{
    flex: 1;
    padding: 30px;
    padding-right: 15px;
    padding-left: 15px;
    border: 3px solid #c3cfd9; 
    overflow-y: auto;
    overflow: hidden; 
}

.container1-point{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    width:130px;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color: #8dd7cf;
    color:#293845;
    border: 2px solid #23b1a3;
}

.containeroutpost{
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;
    padding: 20px;
    background-color: #dfe6ed;
    border: 3px solid #9eadba;
    border-radius: 5px;
}

.containerpost{
    display: flex;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    background-color: #dfe6ed;
}

.post-container1{
    display: flex;
}


.left-post-content{
    display: block;
    margin-top: 20px;
    width: 380px;
    text-align: left;
}

.right-post-content{
    margin-top: 40px;
    width: 380px;
    align-items:center;
    text-align: right;
}

.postimage{
    padding-right: 30px;
    width:100px;
    height:100px;
}

.postform{
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

.uploadform-button{
    /* display: none; */
    /* margin-top: 5px; */
    padding: 5px 30px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    background-color: #f3c19d;
    color: #293845;
    border: 2px solid #ec975b;
}

.post-upload-button{

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #8dd7cf; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.upload-text{
    /* margin-top: 40px; */
    color: #293845;
    /* margin-top:10px; */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: burlywood; */
}

.postimagediv2{
    position: relative;
    display: inline-block;
    cursor: pointer;

    background-color: #ffffff; 
    /* margin: 0 10px;  */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postlogo {
    max-width: 100px; /* Set the maximum width for your logo */
    max-height: 100px; /* Set the maximum height for your logo */
 
  }

#id_postimage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.post-imageinput{
    margin-top:30px;
    /* margin-bottom: 10px; */

    /* background-color: #8f9eac; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.content-form-div{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.appicon-div{
    /* position: relative; */
    display: inline-block;
    cursor: pointer;
    margin: 0 10px; 
    background-color: #ffffff; 
    margin-top: 20px; 
    margin-bottom: 30px; 
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appicon-div2{
    position: relative;
    display: inline-block;
    cursor: pointer;

    background-color: #ffffff; 
    /* margin: 0 10px;  */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 100px; /* Set the maximum width for your logo */
    max-height: 100px; /* Set the maximum height for your logo */
    /* Add any other styling you want for your logo */
  }

#file-input {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
cursor: pointer;
}

#id_appicon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.appname-div{
    background-color: #ffffff; 
    /* background-color: #f59274;  */
    margin: 0 10px; 
    /* Equal left and right margins */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-div{
    background-color: #ffffff; 
    /* background-color: #74d0f5;  */
    margin: 0 10px; 
    /* Equal left and right margins */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points-div{
    /* background-color: #695683;  */
    background-color: #ffffff; 
    margin: 0 10px; 
    /* Equal left and right margins */
    height: 70px;
    /* padding-top: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-div{
    background-color: #ffffff; 
    /* background-color: #a8f574;  */
    margin: 0 10px; 
    /* Equal left and right margins */
    height: 50px;
    /* padding-bottom: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .appicon-field{}
.appname-field{}
.link-field{}
.catg-field{}
.subcatg-field{}
.points-field{}
.points-field{}
.submitform-button{}
 */



/* .postcontainer{
        
}

.postdetails{

}

.postform{

} */

.appname-field,
.link-field,
.catg-field,
.subcatg-field {
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 2px solid #9eadba;
    border-radius: 5px;
    color: #293845;
    transition: border-color 0.3s, colinks;
}


.appname-field,
.link-field, 
.catg-field, 
.subcatg-field {
    color: #293845;
    transition: color 0.3s;
}

.appname-field:focus, 
.link-field:focus, 
.catg-field:focus, 
.subcatg-field:focus {
    outline: none;
    border-color: #6558f5;
}

.appname-field:focus::placeholder, 
.link-field:focus::placeholder, 
.catg-field:focus::placeholder, 
.subcatg-field:focus::placeholder {
    color: #dfe6ed;
}

.appname-field:hover, 
.link-field:hover, 
.catg-field:hover, 
.subcatg-field:hover{
    outline: none;
    border-color: #6558f5;
}

.appname-field:hover::placeholder, 
.link-field:hover::placeholder, 
.catg-field:hover::placeholder, 
.subcatg-field:hover::placeholder{
    color: #dfe6ed;
}

.appname-field{
    margin-right: 35px;
}
.link-field{
    margin-left:35px
}

.catg-field{
    margin-right: 35px;
}

.subcatg-field{
    margin-left: 35px;
}   

.points-field::placeholder {
    color:#293845;
}
.points-field{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 5px; */
    text-align: center;
    /* transition: background-color 0.3s, color 0.3s; */

    background-color: #8dd7cf;
    color:#293845;
    border: 2px solid #23b1a3;
}

.submitform-button{
    display: none;
    padding: 10px 75px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    background-color: #f3c19d;
    color: #293845;
    border: 2px solid #ec975b;
    /* font-size: 16px; */
    /* transition: background-color 0.3s, color 0.3s, border-color 0.3s; */
}

.custom-button:hover {
    background-color: #ec975b;
    color: #fff;
}

/*  */

.prof1-div, 
.prof2-div,
.prof3-div{
    background-color: #ffffff; 
    /* background-color: #f59274;  */
    margin: 0 10px; 
    /* Equal left and right margins */
    font-family: sans-serif;
    font-weight: bold;
    color: #293845;
    height: 70px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.prof1-div{
    margin-left: 180px;
    margin-bottom: 15px;
}
.prof2-div {
    margin-left: 140px;
    margin-bottom: 15px;
}
.email-label{
    text-align: right;
    width: 80px;
}
.prof3-div{
     justify-content: center;
}


.profsubmit{
    /* display: none; */
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    background-color: #f3c19d;
    color: #293845;
    border: 2px solid #ec975b;
}

.userprofile,
.emailprofile,
.fnameprofile,
.lnameprofile {
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 2px solid #9eadba;
    border-radius: 5px;
    color: #293845;
    transition: border-color 0.3s, colinks;
}

/* .pro-mail-input{
    padding-left: 50px;
} */

/* .userprofile,
.fnameprofile{
    margin-right: 20px;
} */

/* .userprofile{
    margin-right: 60px;
}  */

.userprofile:focus,
.emailprofile:focus,
.fnameprofile:focus,
.lnameprofile:focus {
    outline: none;
    border-color: #6558f5;
}

.userprofile:hover,
.emailprofile:hover,
.fnameprofile:hover,
.lnameprofile:hover {
    outline: none;
    border-color: #6558f5;
}

/*  */
.trophy{
    display: flex;
    justify-content: center;
    align-items: center;

}
.pointimg{
    height: 50px;
    width:50px;
    padding-right:20px ;
}


.pointleague{
    margin-top: 10px;
    padding:10px;
    /* border: 2px solid #58f5ce; */

    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    overflow-y: auto;
}

.titlediv{
    padding:0px;
    width: 100%;
    height: 50px;
    /* background-color: #f5c997; */
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    color:#293845;
}

.pointtitle{
    padding:0px;
    width: 50%;
    /* background-color: #65f558; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: sans-serif;
    font-size: medium; */
}
.leaguetitle{
    padding:0px;
    width: 50%;
    /* background-color: #cbf558; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.scoreandimg{
    display: flex;
    align-items: center;
}
.userpoints{
    height: 200px;
    width: 50%;
    /* background-color: #58f5ce; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-weight: bold;
    font-size: 150px;
    color:#293845;
}

.userleague{
    height: 200px;
    width: 50%;
    /* background-color: #e1f597; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.leagueimg{
    height: 150px;
    width: 150px;
}

.trophydetail{
    margin-top: 10px;
    height: 50px;
    display:flex;
    /* background-color: #f5c997; */
    font-size: large;
    color: #293845;
}

