{% extends 'main/base.html' %}
{% load static %}
{% block content%}

{% for group in request.user.groups.all %}
    {% if group.name == 'admin' %}
        {% for app in context %}
        <div class="container" id="container">
            <div class="imagelist">
                <img class="listimage" src="{{ app.appicon.url }}" alt="{{ app.appname }} Image">
            </div>
            <div class="container1">
                <div class="left-content">
                    <p>{{app.appname}}</p>
                    
                    <a href="{% url 'app_update' app.id %}">edit</a>
                    <form action="{% url 'app_delete' app.id %}">
                        <button type="submit">delete</button>
                    </form>
                        <!-- <a href="{% url 'upload_image' app.id %}">view in details</a> -->
                </div>
                <div class="right-content">
                    <p>{{app.points}}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}
    {% for app in context %}
        <div class="container" id="container">
            <div class="imagelist">
                <img class="listimage" src="{{ app.appicon.url }}" alt="{{ app.appname }} Image">
            </div>
            <div class="container1">
                <div class="left-content">
                    <p>{{app.appname}}</p>
                    <a href="{% url 'upload_image' app.id %}">view in details</a>
                </div>
                <div class="right-content">
                    <p>{{app.points}}</p>
                </div>
            </div>
                <!-- <h2>{{app.appname}}</h2>
                <p>{{app.points}}</p>
                <a href="{% url 'upload_image' app.id %}">view in details</a> -->
        </div>
        {% endfor %}
    {% endif %}
{% endfor %}

{% endblock content%}

        
    