{% extends 'main/base.html' %}
{% load static %}
{% block content%}

{% for group in request.user.groups.all %}
<div class="content-above">  </div>
<div class="content">
    {% if group.name == 'admin' %}
        {% for app in context %}
        <div class="container" id="container">
            <div class="imagelist">
                <img class="listimage" src="{{ app.appicon.url }}" alt="{{ app.appname }} Image">
            </div>
            <div class="container1">
                <div class="left-content">
                    <!-- <p>{{app.appname}}</p> -->
                    <a class="container1-name">{{app.appname}}</a>
                    
                    <form class="form-list" action="{% url 'app_delete' app.id %}">
                        <a href="{% url 'app_update' app.id %}"><img src="media/default/pencil.png" alt="edit button" style="height: 20px; width: 20px;"></a>
                        <button type="submit" style=" border: #dfe6ed;
                        background-color: #dfe6ed"><img src="media/default/bin.png" alt="Delete button" style="height: 20px; width: 20px;"></button>
                    </form>
                        <!-- <a href="{% url 'upload_image' app.id %}">view in details</a> -->
                </div>
                <div class="right-content">
                    <a class="container1-point">{{app.points}} points</a>
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}
    {% for app in context %}
        <div class="container" id="container">
            <div class="imagelist">
                <img class="listimage" src="{{ app.appicon.url }}" alt="{{ app.appname }} Image">
            </div>
            <div class="container1">
                <div class="left-content">
                     <!-- <p>{{app.appname}}</p> -->
                     <a class="container1-name">{{app.appname}}</a><br>
                    <a class="conatiner1-link" href="{% url 'upload_image' app.id %}">View in Detail</a>
                </div>
                
                <div class="right-content">
                    <a class="container1-point">{{app.points}} points</a>
                </div>
            </div>
                <!-- <h2>{{app.appname}}</h2>
                <p>{{app.points}}</p>
                <a href="{% url 'upload_image' app.id %}">view in details</a> -->
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endfor %}

{% endblock content%}

        
    